* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

h1 {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=radio] {
  display: none;
}

label {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  margin: 80px 40px;
  cursor: pointer;
}

input[id=button1]:checked ~ .banner-container .banner-inner {
  transform: translateY(0);
}
input[id=button2]:checked ~ .banner-container .banner-inner {
  transform: translateY(-500px);
}
input[id=button3]:checked ~ .banner-container .banner-inner {
  transform: translateY(-1000px);
}

.banner-container {
  height: 500px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  overflow: hidden;
}

.banner-inner {
  transition: 2s ease;
}

.banner {
  padding: 40px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner:nth-child(1) {
  /* background-color: yellow; */
}
.banner:nth-child(2) {
  /* background-color: orange; */
}
.banner:nth-child(3) {
  /* background-color: green; */
}