* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  /* 초기화 */
  border: none;
  outline: none;
  background-color: transparent;

  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  margin: 80px 40px;
  cursor: pointer;
}

button.fontsize-up {
  font-size: 2.2rem;
  color: red;
}

.banner-container {
  height: 500px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  overflow: hidden;
}

.banner-inner {
  transition: 2s ease;
}

.banner {
  padding: 40px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
