$black: #000000;
$primary: #7a7a7a;
$secondary: #8c8d96;
$tertiary: #b2b3b9;

$white: #ffffff;
$white-light: #ffffffb0;
$white-transparent: #ffffff20;

$title: #dce7ee;
$background: #f7efe4;
$border: #cacace36;

$blue: #2c74ac;
$blue-dark: #145e92;
$blue-light: #145e9238;
$blue-sky: #68bbdbbd;
$blue-sky-light: #b4cce0;

$orange: #e9b81c;
