* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1 {
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  /* 초기화 */
  border: none;
  outline: none;
  background-color: transparent;

  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  margin: 80px 40px;
  cursor: pointer;
  color: black;
}

button.clicked {
  transform: scale(1.2);
}

.slide-container {
  width: 500px;
  height: 500px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  overflow: hidden;
}

.slide-inner {
  transition: 2s ease;
}

.slide {
  padding: 40px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slide:nth-child(3n + 1) {
  background-color: rgb(233, 32, 32);
}
.slide:nth-child(3n + 2) {
  background-color: rgb(250, 162, 0);
}
.slide:nth-child(3n + 3) {
  background-color: rgb(14, 151, 14);
}


