body {
  background-color: black;
  color: white;
  overflow: hidden;
}

.coordinates {
  position: absolute;
}

.coordinates__text {
  width: 150px;
  height: 20px;
  text-align: right;
  position: absolute;
  bottom: 16px;
  right: -70px;
  font-size: 1.2rem;
}

.coordinates__line {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coordinates__line-horizontal {
  width: 200vw;
  height: 1px;
  top: 48%;
}

.coordinates__line-vertical {
  width: 1px;
  height: 100vw;
}